#wrap-header { height: 164px; width: 100%; background: #ccc;}
#wrap-headerTop { height: 32px; width: 100%; background: #f4f4f4;}
#headerTop,#headerCenter,#headerBottom { width: 1151px; margin: 0 auto;}
#headerTop { height: 32px;}

/*topleft*/
.headerTop-left { height: 32px; width: 132px;position: relative;
	background: url(../img/headImg/headTop-1.jpg) left 5px top 10px no-repeat;}
.headerTop-left a.a1{ display: block; height: 12px; line-height: 12px; margin: 10px 0 0 20px; color: #000;} 

.headerTop-list { position: absolute; top: 32px; left: 0; height: 205px; width: 190px;
	background: #f4f4f4;padding: 25px 0 0 20px; display: none; z-index: 99;}
.headerTop-list li { height: 36px; width: 170px;}
.headerTop-list li a{ height: 36px; line-height: 36px; position: relative; width: 170px; display: block;
	color: #aaa;}
.headerTop-list li a b { font-weight: 100;}
.headerTop-list li a span { position: absolute; left: 0; top: 0; color: #000; display: none;}
.headerTop-list li a span.active { display: block;}
/*topright*/
.headerTop-list1 li{ float: left; height: 12px; line-height: 12px; padding: 10px 0px;}
.headerTop-list1 li a { border-left: 1px solid #ccc; padding: 0 12px; color: #98969b;}
#login-register { padding-right: 12px;}
#login-register a {border-left: none; padding: 0px;}

.headerTop-list1 li.orders a { padding-left: 26px;}
.headerTop-list1 li.keep a { padding-left: 26px;}
.headerTop-list1 li.news a { padding-left: 32px;}
.headerTop-list1 li.phone a { padding-left: 22px;}
.headerTop-list1 li.MY a { padding-right: 26px;}
.MY a{ background: url(../img/headImg/my.jpg) right 12px top 0px no-repeat;}
.orders a{ background: url(../img/headImg/headTop-2.jpg) left 12px top 0px no-repeat;}
.keep a{ background: url(../img/headImg/headTop-3.jpg) left 12px top 0px no-repeat;}
.news a{ background: url(../img/headImg/headTop-4.jpg) left 12px top 0px no-repeat;}
.phone a{ background: url(../img/headImg/headTop-5.jpg) left 12px top 0px no-repeat;}
.phone { position: relative;}
.two-bar-codes { position: absolute; left: -100px; top: 32px; height: 290px; width: 231px; background: #efefef;
	 display: none;z-index: 99;}
.twoCode {height: 147px; width: 143px; background: url(../img/headImg/twoCode.png) left 0 top 0 no-repeat;
	margin: 35px 0 0 45px;}
.two-bar-codes .twoCode-p { text-align: center; font-size: 16px; height: 30px; line-height: 30px;}
#headerTop .a2 { height: 12px; margin-top: 20px; display: block;
	text-align: center; width: 100px; margin-left: 65px; border: none; padding:0;background: #efefef;}

#headerCenter { height: 92px;}
.headerCenter-left { height: 48px; width: 380px;padding-top: 44px;}
.headerCenter-left-list { height: 48px; width: 380px;}
.headerCenter-left-list li { height: 48px; width: 86px; background: white; float: left;}
.headerCenter-left-list li a { color: #9f929c;height: 16px; width: 76px; display: block; margin:auto;
	 text-align: center;}
.headerCenter-left-list a.a3 { padding-top: 10px; color: #000; font-size: 16px; padding-bottom: 5px;}
/*男生主页*/
.headerCenter-left-list li.boys{ background: #3a3a3a;}
.headerCenter-left-list li.boys a { color: white;}
/*女生主页*/
.headerCenter-left-list li.girls{ background: #000;}
.headerCenter-left-list li.girls a { color: white;}
/*儿童主页*/
.headerCenter-left-list li.kids{ background: #1ccbc1;}
.headerCenter-left-list li.kids a { color: white;}
/*创业生活主页*/
.headerCenter-left-list #oLeft { width: 90px; padding:0 15px;}
.headerCenter-left-list li.lifeStyle{ background: #666; width: 120px}
.headerCenter-left-list li.lifeStyle a { color: white;}

/*logo*/
.headerCenter-center { height: 54px; width: 180px; margin: 18px 0 0 110px;}
.headerCenter-center a.headLogo { height: 54px; width: 180px;display: block;
	background: url(../img/headImg/logo1.jpg);}

.headSeach { height: 32px; width:380px; margin: 44px 0 0 94px;}
.headSeach .input1 { height: 20px; width: 226px; border: none; padding: 5px 8px;
	border: 1px solid #3a3a3a;}
.headSeach .btn { background: #3a3a3a; height: 32px; width: 78px;border: none;}

.headSeach .btn span { height: 32px; width: 78px; background: url(../img/headImg/search.png) left 30px top 7px no-repeat;
	display: block;}
/*购物车*/	
.headSeach .go-cart { height: 32px; width: 27px; position: relative;
	margin-left: 24px;}
.headSeach .cart { background: url(../img/headImg/headTop-7.jpg) left 0 top 0 no-repeat;
	height: 28px; width: 27px; display: block;}
/*购物车数量*/
#num { position: absolute; top: -10px; left: 18px; display: block; height: 20px; width: 27px;
	background: red; border-radius: 10px; text-align: center; line-height: 20px;color: white;}	
/*购物车内容*/
.partCart { position: absolute; top: 32px; right: -15px; height: 496px; width: 378px;background: #f8f8f8;display: none;z-index: 9;}
.partCart .small-cart { display: block; height:140px; width: 144px; background: url(../img/headImg/small-cart.png);
	margin: 130px 0 0 110px;}
.partCart h3 { text-align: center; line-height: 30px; font-size: 16px; font-weight: 100;}
/*ul*/
#wrap-headerBottom { height: 40px;  position: relative;}
#headerBottom { height: 40px;}
ul.headerBottom-list li { height: 40px; margin-right: 92px; float: left;
	line-height: 40px;}
ul.headerBottom-list li a { color: white;padding-bottom: 2px;}
ul.headerBottom-list li:hover a.li-a { border-bottom: 2px white solid;}
	
/*二级导航块*/
ul.headerBottom-list li .two-nav { width: 100%; height: 410px; background: #f4f4f4;
	position: absolute; top: 38px; left: 0px; z-index: 199; box-sizing: border-box;}
.two-nav { padding: 20px 56px; display: none;}
.two-nav div.two-nav01 { height: 352px; width: 178px; margin: 0px;
	padding: 0 50px; }
.two-nav div.two-nav03 { height: 352px; width: 178px; margin: 0px;
	padding: 0 50px;}
/*.two-nav ul.two-nav01 li { cursor: pointer; height:20px; line-height: 20px;
	margin: 0px; padding-top: 20px;}*/

/*二级导航li样式*/
.two-nav01 { border-right: 1px #999 solid;}
.two-nav03 { border-right: none;}
dl dt { height: 12px; line-height: 12px; margin: 22px 0px;
 cursor: pointer;}
dl.cLine dt{ border-bottom: 1px #000 solid;height: 44px; line-height: 44px;
	width: 184px; margin-top: -20px;}
.two-nav01 dl.dl1 dt { margin-top: 0px;}
.cRray dt { color: gray;}	
.cRray dt:hover{text-decoration: underline;}
.cRed dt { color: red;}
.cRed dt:hover{ text-decoration: underline; color: red;}

/*navImg*/
.two-nav04 { height:350px; width: 400px;}
.navImg { height: 249px; width: 337px; margin-left: 40px;}
dd.navImg-a { text-align: center; cursor: pointer;}


/*new*/
li.list-liNew i { display: block; height: 12px; width: 28px; background: url(../img/headImg/headTop-8.jpg);
position: absolute; top: 8px; left: 969px;}
	
#wrap-headerCenter { height: 92px; width: 100%; background: #fff;}
#wrap-headerBottom { height: 40px; width: 100%; background: #3a3a3a;}
