#wrap-content {/* height: 15293px;*/ width: 100%; overflow: hidden;}
#content { /*height: 15293px;*/ width:1151px; margin: 0 auto;}
/*轮播*/
.Carousel { height: 511px; background: #fff; margin-top: 10px;  width:1151px;
	position: relative; overflow: hidden;}
ul.Carousel-list1 { height: 450px; width: 999999px; position: absolute;
	left: 0; top: 0;}
.Carousel-list1 li{ float: left;height: 450px; width: 1150px;
}
.Carousel-list1 li img { height: 450px; width: 1150px; cursor: pointer;}
ul.Carousel-list2 { height: 55px; width: 1150px; position: absolute; bottom: 0px; left: 0;}
ul.Carousel-list2 li { height: 55px; width: 138px; float: left; margin-right: 5px;
	cursor: pointer;}
ul.Carousel-list2 li img { height: 55px; width: 138px;}
.Carousel-li1 { margin-left: 5px;}
ul.Carousel-list2 li { opacity: 0.8;}
ul.Carousel-list2 li.active { opacity: 1;}

.prev,.next { position: absolute; top: 40%; width: 60px; height: 60px;
	text-align: center; line-height: 60px; background: #a4a4a4; font-weight: bolder;
	font-size: 30px; cursor: pointer;}
.prev { left: 3px;}
.next { right: 3px;}
/*人气品单标题*/
.buzzHead {height: 153px; width: 1151px; background: white; position: relative;}
.buzzHeadFont { height: 32px; width: 300px; border: 1px #000 solid; font-size: 16px;
	position: absolute; left: 35%; top: 40%; text-align: center; line-height: 32px;}
/*人气品单内容*/
.buzzContent {
	width: 1151px; height: 641px;
}
/*.buzzContent a img { margin: 0 4px 4px 0;}
.buzzContent a.buzz-a img { margin-right: 0px;}*/
/*优选品牌内容*/
.preferenceContent { height: 458px; width: 1150px; overflow: hidden; position: relative; background: white;}
.preferenceContent-list { height: 175px; width: 99999px; position: absolute; left: 0; top: 0;}
.preferenceContent-list li { width: 1150px; height: 175px; float: left;}
.preferenceContent-list a { float: left; margin-left: 8px;}
.preferenceContent-list li a.preferenceContent-li1 { margin-left: 0;}

.prev1,.next1 { position: absolute; top: 15%; width: 40px; height: 40px;
	text-align: center; line-height: 40px; background: #a4a4a4; font-weight: bolder;
	font-size: 30px; cursor: pointer;}
.prev1 { left: 0px;}
.next1 { right: 0px;}

.brandLogo { height: 284px; width: 1150px;position: absolute; left: 3px; bottom: 0px;}
.brandLogo ul.brandLogo-list1 a img{ margin: 8px 6.5px 0 0; height: 86px; width: 185px;}
.brandLogo ul.brandLogo-list1 a.brandLogo-a img { margin-right: 0px;}
.brandLogo ul.brandLogo-list2 a img{ margin: 8px 6.5px 0 0; height: 86px; width: 185px;}
.brandLogo ul.brandLogo-list2 a.brandLogo-a img { margin-right: 0px;}
/*按钮*/
.icon-line { height: 86px; width: 185px; position: absolute; right: 7px; top :8px;}
.prev2,.next2{ height: 28px; width: 20px; position: absolute; cursor: pointer;}
.prev2{ left: 50px; top: 15px;background: url(../img/content/icon-prev.jpg);}
.next2{ right: 45px; bottom: 15px; background: url(../img/content/icon-next.jpg);}
/*more*/
.more { height: 82px; width: 185px; position: absolute; right: 7px; bottom :0px; background: #fff;
	}
.more a {display: inline-block; line-height: 16px;font-size: 14px;width:35px; 
	height: 16px; margin: 35px 65px; color: #000;}
.more a:hover { text-decoration: underline;}
/*最新速报内容*/
.newContent { height: 643px; width: 100%;}
ul.newContent-list { width: 864px; height: 504px; float: left;}
ul.newContent-list a { float: left; margin-left: 8px;}
ul.newContent-list a.newContent-a1 { margin: 0;}
ul.newContent-list a.newContent-a4 { margin-top: 5px;}
.newContent-a8 { float: right;}
.newContent-a9 img{ width: 1150px; height: 130px; margin-top: 5px;}
/*潮流上装内容*/
.jacket { height: 812px; width: 1150px;}
.jacket .jacket-list li { float: left; margin: 0 8px 5px 0;}
.jacket .jacket-list li.jacket-right { margin-right: 0;}
.jacket .jacket-list li.jacket-bottom { margin:0 10px 5px 0;}
.jacket-position { position: absolute; left: 0px; top: 161px;}
/*文本*/
.jacket-text { position: absolute; top:256px; left: 0px;
width: 185px; height: 248px; background: #f8f8f8;}
.jacket-text-list li a { display: block; width: 80px; text-align: center; margin-top: 18px;
line-height: 16px;	margin-left: 4px;color: #000;}
/*新品上市*/
.newGoods { overflow: hidden;
}
.newImg { height: 298px; width: 222px; margin-right: 8px;}
.goodsPrice { height: 61px; width: 222px;margin-bottom: 45px;}
.goodsTitle { line-height: 38px; display: block; text-align: center;height: 30px;
	width: 222px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;color: #000;}
.goodsTitle,.price { text-align: center;}

/*wrap-exchange*/
#wrap-exchange { width: 100%; overflow: hidden; background: #eee;}
#exchange { height: 248px; width: 1150px; margin: 20px auto;}
dl.exchange-dl { height: 288px; width: 370px; float: left;}
dl.exchange-dlCenter { margin: 0 20px;}
dl.exchange-dl dt { height: 208px;background:url(../img/content/exchangeBg.jpg)}
dl.exchange-dl dd { height: 12px; margin-left: 45%;}
dl.exchange-dl dd span { height: 12px; width: 12px; background: #fff;
	border-radius: 6px; display: block;float: left;
	margin-right: 20px; cursor: pointer;}
dl.exchange-dl dd span.cur {background: #999;}
.exchange-p { padding-top: 24px; text-align: center; font-size: 18px;}
.exchange-div { margin: 28px 0 0 18px;}
.exchange-btn {margin-top: 12px; width: 55px; line-height: 24px; background: #000; color: white;border: none; cursor: pointer;}
/*返回顶部*/
#toTop {
	width: 60px; height: 60px; background: url(../img/content/toTop.jpg) center;
	position: fixed; right: 20px; bottom: 20px; display: none; cursor: pointer;
	opacity: 0.8;
}
