/* header部分*/

#header { height: 66px; width: 100%; border-bottom: 2px solid #000;}
.logo { margin: 12px 0 0 188px; height: 40px; width: 171px; float: left;}
ul.header-tool { float: right;margin-right: 188px;}
ul.header-tool li { float: left; line-height: 66px;}
ul.header-tool li a { color: #000;padding: 0 10px;}
li.tool-li {position: relative;}
ul.header-tool li.tool-li a { width: 50px; display: block;text-align: center;
 height: 30px; line-height: 30px; margin-top: 20px;}

ul.header-tool li.tool-li2 { padding: 0 10px;}
ul.header-tool li.tool-li2 a { padding: 0;}
.tool-a { position: absolute; top: 51px;left: 0; height: 60px;
	z-index: 99;}
.tool-a {display: none;background: #ccc;}



li.tool-li	div.tool-a a { line-height: 30px; float: left;margin: 0 auto;
	border-bottom: solid 1px #dfdfdf;height: 30px;}
	

/*中间内容部分*/
#wrap-centent { height: 654px; width: 100%;}
#centent { height: 654px; width: 1150px; margin: 0 auto; overflow: hidden;}
.passport { margin: 107px 0; float: left; width: 575px;
 height: auto; border-right: 1px #dfdfdf solid;}
.register-page { width: 480px; height: 486px; float: left;
	margin-top: 108px; padding-left: 85px;}


.yzm { margin-left: 88px;}
#xy { margin-top: 30px; border-radius: none; margin-left: 88px;}
a.atk { color: red; text-decoration: underline;}
#btn { width: 272px; height: 45px; color: white; font-size: 20px; background: #555;
	border: none; margin: 30px 0 0 88px; cursor: pointer;}
p.pzh { margin: 30px 0 0 88px}
